/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
    border: 1px solid gray;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-size: 62.5%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General Styling  */

/* testimonials section */

.testimonials {
    background-image: url('https://images.unsplash.com/photo-1531685250784-7569952593d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: .5%;
    padding-top: 2%;
}

p {
    font-size: 2rem;
    text-align: center;
    font-style: italic;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 80%;
    margin: 1% auto;
}

.flexbox {
    width: 25%;
    text-align: center;
    background: #f0f0f0;
    margin-top: 2%;
    padding: 1% 2%;
    font-size: 1.5rem;
    border-radius: 10px;
    height: 33vh;
}

.flexbox img {
    border-radius: 50%;
    width: 20%;
    height: 8vh;
    margin-bottom: 5%;
}

.quote {
    font-style: italic;
    margin-bottom: 5%;
    height: 50%;
    color: #787980;
}

.name{
    font-style: italic;
    margin-bottom: 3%;
}

.company{
    font-weight: 700;
    color: orange;
    font-style: italic;
}


/* Header and Nav Styling  */

header {
    display: flex;
    align-items: center;
    background: rgba(174, 213, 239, 0.5);
}

header h2 {
    margin-left: 2%;
    width: 15%;
    font-size: 2.5rem;
    font-weight: 700;
    color: #5b5b5c;
}

nav {
    width: 60%;
    display: inline-block;
    justify-content: flex-end;
    margin-left: 25%;
}

nav a {
    margin-right: 5%;
    text-decoration: none;
    font-size: 1.75rem;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#nav-button {
    background: #96cf1d;
    color: white;
    text-decoration: none;
    padding: 1%;
    border-radius: 10px;
}

#nav-button:hover {
    color: #96cf1d;
    background: white;
    transition-duration: 700ms;
}

/* footer styling  */

footer {
    background: rgba(174, 213, 239, 0.5);
    padding-top: 3%;
}

.footer-info {
    display: flex;
    justify-content: space-around;
}

.footer-section {
    display: flex;
    flex-direction: column;
}

.footer-section h3 {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 15%;
    margin-left: 5%;
}

.footer-section a {
    padding: 7%;
    text-decoration: none;
    font-size: 1.75rem;
}

#socialMedia a {
    margin-bottom: 20%;
}

.copyright img {
    display: inline;
    margin-right: 1%;
    margin-left: 10%;
    margin-top: 2%;
    
}

.copyright p {
    display: inline;
    font-size: 15px;
    margin-bottom: 1%;
}

/* media queries  */

@media (max-width: 1400px) {
    .flexbox {
        width: 40%;
        height: 40vh;
    }
    .testimonials {
        height: 150vh;
    }
}

@media (max-width: 900px) {
    nav {
        margin-left: 10%;
    }
    .navbar a {
        display: inline-block;
        width: 20%;
    }
    #nav-button a {
        padding: 2%;
        width: 10%;
        margin-right: 0;
    }
    .flexbox {
        width: 90%;
        height: 40vh;
        margin-left: auto;
        margin-right: auto;
    }
    .quote {
        height: 35%;
    }
    .testimonials {
        height: 270vh;
    }
    .copyright img {
        margin-left: 5%
    }
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
    }
    header h2 {
        width: 100%;
        text-align: center;
    }
    .navbar {
        flex-direction: column;
        margin-right: 10%;
        margin-top: 5%;
        text-align: center;
    }
    .navbar a {
        margin: 5% 0;
        width: 50%;
        font-size: 20px;
    }
    #nav-button {
        padding: 3%;
    }
    .title {
        padding: 3% 0 5% 0;
    }
    .testimonials {
        height: 220vh;
    }
    .flexbox {
        height: 30vh;
        margin: 0 0 5% 0;
        width: 100%;
    }
    .quote {
        font-size: 1.5rem;
    }
    .name {
        font-size: 1.5rem;
    }
    .company {
        font-size: 1.5rem;
    }
    .footer a {
        text-align: center;
    }
    .footer-info {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .footer-section {
        width: 50%;
        text-align: center;
    }
    #socialMedia a {
        margin-bottom: 0%;
        padding: 4%;
        text-align: center;
    }
}