*{
  text-decoration: none;
}
a {
  text-decoration: none;
  color: black;
}
form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 3% 0;
  font-size: 1.4rem;
}
button {
  width: 150px;
  display: inline-block;
  padding: 8px 11px;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: 0;
  border-radius: 5px;
  letter-spacing: 2px;
  outline: none;
  background-color: #72e851;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-image: #1d2120;
  background-color: #bcd5d1;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}

button:disabled {
  background-image: none;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
}

.error {
  font-size: 1.2rem;
  color: red;
}

.terms {
  display: inline-block;
  align-self: self-start;
}

.terms input {
  width: 15px;
  display: inline-block;
  margin-right: 5px;
}

/* NAV BAR */

nav{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #bfeef5;
  color:black;
}

.nav-Links{
  list-style: none;
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items:  center;
  margin: 2rem
}